*,
*:after,
*:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    outline: none;
}

img {
    display: block;
    width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
}

body {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    background: #f7f7f7;
}

/* добавим очистку потока для всех контейнеров, внутри которых задано обтекание дочерних элементов */
/* header:after,
.container:after,
footer:after,
.widget-posts-list li:after,
#subscribe:after {
    content: "";
    display: table;
    clear: both;
} */

/*Обнуление стилей*/

body {
    background-color: rgb(19, 14, 23);
    color: #E4E5EA;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.picture-1 {
    width: 60px;
    top: -2px;
    left: 868px;
    position: absolute;
}

.picture-2 {
    width: 259px;
    /* opacity: 50%; */
    left: 602px;
    top: -100px;
    position: absolute;
}

.picture-3 {
    width: 83px;
    top: 83px;
    left: 519px;
    box-shadow: rgba(223, 125, 125, 0.25);
    position: absolute;
}

.picture-4 {
    width: 28px;
    top: 547px;
    left: 851px;
    position: absolute;
}

.picture-5 {
    width: 311px;
    top: 251px;
    left: -102px;
    opacity: 50%;
    position: absolute;
}

.wrapper {
    width: 1140px;
    margin: 46px auto;
}

header {
    padding-top: 15px;
    max-height: 73px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 90px;
}

.header_label {
    display: flex;
    flex-direction: column;
}

.header_label p {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    width: 165px;
}

.header_label img {
    margin-bottom: 14px;
    height: 24px;
    width: 140px;
}

.header_links ul {
    display: flex;
    width: 503px;
    justify-content: space-between;
}

.social ul {
    display: flex;
    width: 100px;
    justify-content: space-between;
}

.social li {
    width: 20px;
}

/* main */

.left_tittle {
    width: 362px;
    font-size: 48px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
}

.left_subtitle {
    width: 247px;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 30px;
    background: linear-gradient(to right, #FCB045, #FF3F78);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.left_text {
    width: 275px;
    font-weight: 400;
    font-size: 18px;
}

.columns {
    display: flex;
    justify-content: space-between;
}

.column-right {
    text-align: right;
}

.right_title {
    height: 44px;
    font-size: 18px;
    display: inline;
}

.title_1 {
    display: flex;
    justify-content: end;
}

.title_2 {
    display: flex;
    justify-content: end;
}

.grid-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    align-items: end;
    margin-bottom: 60px;
}

.right_title {
    width: 291px;
}

.right_wrapper-1 {
    justify-self: end;
    text-align: right;
    width: 101px;
    grid-area: 1 / 1 / 2 / 2;
}

.right_wrapper-2 {
    justify-self: end;
    width: 135px;
    text-align: right;
    grid-area: 1 / 2 / 2 / 3;
}

.right_wrapper-3 {
    justify-self: end;
    text-align: right;
    grid-area: 2 / 1 / 3 / 2;
    width: 146px;
}

.right_wrapper-4 {
    justify-self: end;
    width: 134px;
    text-align: right;
    grid-area: 2 / 2 / 3 / 3;
}

.right_subtitle {
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.9px;
    margin-bottom: 6px;
}

.right_text {
    font-size: 16px;
    font-weight: 400;
}

.gradient_text {
    background: linear-gradient(to right, #FCB045, #FF3F78);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}

.button {
    color: #E4E5EA;
    font-size: 16px;
    font-weight: 500;
    background-color: #4077F3;
    width: 262px;
    height: 61px;
    cursor: pointer;
    border: 0;
}

.button_wrapper {
    display: flex;
    justify-content: end;
    margin-bottom: 69px;
}

footer {
    font-size: 16px;
    padding-top: 55px;
    padding-bottom: 88px;
    height: 315px;
    display: flex;
    justify-content: space-between;
}

.column-wrapper-1 {
    margin-right: 98px;
}

.footer_column-title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer_columns-left {
    font-size: 16px;
    font-weight: 400;
    display: flex;
    column-count: 2;
}

.footer_column-text ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.menu {
    column-count: 2;
}

.social_footer {
    width: 20px;
}

.social_footer {
    position: relative;
    left: 230px;
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin: 20px;
}

.footer_column-title-right {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    display: flex;
    justify-content: end;
}

.footer_column-contacts {
    text-align: right;
}

.policy {
    margin-top: 70px;
    color: #E4E5EA;
    font-size: 12px;
    font-weight: 400;
}

.policy a {
    text-decoration: underline;
}

.hide-class {
    display: none;
}

@media screen and (max-width: 376px) {

    body {
        width: 375px;
    }

    .wrapper {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    main {
        padding-left: 14px;
    }

    header {
        padding: 0;
        width: 375px;
        height: 55px;
        font-size: 12px;
        background-color: black;
        margin-bottom: 40px;
    }

    .header_label {
        display: none;
    }

    .number {
        display: none;
    }

    .social {
        display: none;
    }
    .li-hidden{
        display: none;
    }

    .header_links ul {
        height: 100%;
        width: 375px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .header_links ul:nth-child(2n) {
        color: #FF3F78;
    }

    .left_tittle {
        margin: 0;
        font-size: 36px;
    }

    .left_subtitle {
        font-size: 36px;
        margin-bottom: 15px;
    }

    .button {
        display: none;
    }

    .column-right {
        display: none;
    }

    .left_text {
        margin-bottom: 45px;
    }

    .hide-class {
        display: block;
    }

    .hide-class_title {
        font-size: 18px;
        font-weight: 500;
        margin-bottom: 20px;
    }

    .grad-text {
        font-weight: 700;
        background: linear-gradient(to right, #FCB045, #FF3F78);
        -webkit-background-clip: text;
        -moz-background-clip: text;
        background-clip: text;
        color: transparent;
    }

    .net {
        width: 300px;
        font-size: 13px;
        letter-spacing: 0.65px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 14px;
        margin-bottom: 60px;
    }
    .grid-1{
        padding-left: 15px;
        grid-area: 1 / 1 / 2 / 2;
    }
    .grid-2{
        padding-left: 15px;
        grid-area: 1 / 2 / 2 / 3;
    }
    .grid-3{
        padding-left: 15px;
        grid-area: 2 / 1 / 3 / 2;
    }
    .grid-4{
        padding-left: 15px;
        grid-area: 2 / 2 / 3 / 3;
    }


    .net img {
        position: relative;
        height: 1px;
        width: 10px;
        right: 14px;
        top: 8px;
    }
    footer{
        background-color: rgb(25, 19, 25);
    }
    body{
        overflow-x: hidden;
    }
    

}